/* --the link font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");



/* ----start main----- */
:root {
  --primary: #8900b6;
  --secondary: #ed9975;
  --black: #333;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0.5rem;
}

section {
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary);
}
/* ----end main----- */



/* ----start header----- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--primary);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--primary);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--secondary);
}

.header .navbar .btn {
  margin-top: 0;
  color: var(--white);
}

.header .navbar .btn:hover {
  color: var(--white);
}
/* ----end header----- */



/* start */
/* --button for hovering on home page */
#menu-btn {
  display: none;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--primary);
}

#menu-btn:hover {
  color: var(--secondary);
}
/* end */



/* ----start Home----- */
.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.home .slide .content {
  width: 80rem;
  text-align: center;
}

.home .slide .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.1;
  padding: 2rem 0;
  -webkit-text-stroke: var(--primary);
  -webkit-text-stroke-width: 1px;
}
/* ----end home----- */



/* start */
/* --for button next and prev on home page-- */
.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background-color: var(--primary);
  color: var(--white);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}
/* end */



/* ----start about----- */
.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
}

.about .row .image {
  flex: 1 1 30rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 51rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--primary);
  padding: 2rem 0;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  line-height: 1.8;
}
/* ----end about----- */



/* ----start footer----- */
.footer {
  background-color: var(--primary);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--secondary);
}

.footer .box-container .box a {
  font-size: 1.6rem;
  display: block;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: var(--secondary);
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: var(--secondary);
}

.footer .media {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.footer .media a {
  color: var(--white);
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  margin: 1rem;
}

.footer .media a:hover {
  color: var(--white);
  background-color: var(--secondary);
  transform: rotate(360deg);
}

.footer .lisence {
  text-align: center;  
  font-family: "Popins", sans-serif;
}

.footer .lisence a {
  color: var(--white);
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
}
/* ----end footer----- */



/* ----- */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .hedaer {
    padding: 2rem 3rem;
  }
}
/* ----- */



/* ----- */
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-radius: 0.5rem;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .slide .content {
    width: 50rem;
  }
}
/* ----- */



/* ----- */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content {
    width: 30rem;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
}
/* ----- */
